{% extends "base.html" %}
{% load static %}
{%block nav_content%}
{%if req > 0 %}
    <a class="navbar-brand disabled" style="color:white" href="/search_page">Requests ({{ req }})</a>
{%endif%}
{% endblock %}
{% block content %}
<h1>home page</h1>
<h1>{{ request.session.username }}</h1>
<div class="container text-center" >
    <div class="row">
        {% for user in friends %}
            <div class="col-md-3 col-sm-6 mb-4">
                <div class="card" >
                    <img src="{% static 'images/' %}{{ user.profile_pic }}" alt="Profile picture" class="card-img-top" >
                    <div class="card-body">
                        <h5 class="card-title">{{ user.username }}</h5>
                    </div>
                    <div style="display: flex; justify-content: space-between; align-items: center;">
                        <a href="{% url 'message_page' receiver_id=user.id %}">
                            <button class="btn btn-dark">Send Message</button>
                        </a>
                        {%if user.id in unseen_messages %}
                        <button class="btn btn-dark">
                        <i class="fas fa-bell me-2" style="color:white"></i>
                        </button>
                        {%endif%}
                        <a href="{% url 'delete_friend' receiver_id=user.id %}" style="text-decoration: none;">
                            <button class="btn btn-danger">
                                <i class="fas fa-user-minus me-2" style="color:white"></i>
                            </button>
                        </a>
                    </div>
                </div>

            </div>
        {% empty %}
            <p style="color: white;">No users found.</p>
        {% endfor %}
    </div>
</div>
<style>
    .card {
        background: rgba(255, 255, 255, 0.3);
        backdrop-filter: blur(10px);
        -webkit-backdrop-filter: blur(10px);
        backdrop-filter: blur(8px);
        border-radius: 30px;
        padding: 0.5rem 1.8rem;
        box-shadow: 0 20px 50px rgba(180, 20, 30, 0.3);
        max-width: 500px;
        width: 100%;
        height: 85%;
    }
</style>
{% endblock %}