{% extends "base.html" %}
{% load static %}
{% block content %}
<h1>{{request.session.username}}</h1>
    {% for user in users %}
        <div class="card" style="width: 18rem;">
            <img src="{% static 'images/' %}{{ user.profile_pic }}" alt="Profile picture" width="10" class="card-img-top">
            <div class="card-body">
                <h5 class="card-title">{{ user.username }}</h5>
                <p class="card-text">{{ user.bio }}</p>
                <a href="{% url 'message_page' receiver_id=user.id %}" class="btn btn-primary">{{ user.username }}</a>
            </div>
        </div>
    {% empty %}
        <p>No users found.</p>
    {% endfor %}
{% endblock %}