{% extends "base.html" %}
{% load static %}
{% block content %}
<h1>{{ request.session.username }}</h1>
<div class="container text-center" >
    <div class="row">
        {% for user in users %}
            <div class="col-md-3 col-sm-6 mb-4"><a href="{% url 'message_page' receiver_id=user.id %}" style="text-decoration: none; color: inherit;">
                <div class="card" >
                    <img src="{% static 'images/' %}{{ user.profile_pic }}" alt="Profile picture" class="card-img-top" >
                    <div class="card-body">
                        <h5 class="card-title">{{ user.username }}</h5>
                    </div>
                </div>
                </a>
            </div>
        {% empty %}
            <p>No users found.</p>
        {% endfor %}
    </div>
</div>
<style>
    .card{
          background: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
            backdrop-filter: blur(8px);
            border-radius: 30px;
            padding: 2rem 1.8rem;
            box-shadow: 0 20px 50px rgba(180, 20, 30, 0.3);
            max-width: 580px;
            width: 100%;
    }
</style>
{% endblock %}